<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <partial name="_Styles" />


    @if (ViewData["TenantCSS"] != null)
    {
        <link href="~/css/@ViewData["TenantCss"].ToString()" rel="stylesheet" />
    }
    @RenderSection("Style", required: false)
</head>
<body>

    <nav class="sb-topnav navbar navbar-white navbar-expand border-bottom">
        <a class="navbar-brand ps-3" href="~/">
            <img src="@ViewData["LogoImage"]" />
        </a>

        <div class="navbar" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item m-2">
                    <a class="nav-link top-link p-1" id="home" href="~/">.NET Core Vertex</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="container   ">
        @RenderBody()
    </div>



    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)



</body>
</html>
